/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS THE FONTS*/

@font-face {
    font-family: 'TransportHeavy';
    src: url(../fonts/transportheavy-webfont.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TransportLight';
    src: url(../fonts/transport-new-light-webfont.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LearningCurveBold';
    src: url(../fonts/learning_curve_bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE NAVBAR TO THE OVERVIEW SECTION*/

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.goose-sign {
    padding: .5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: auto;
}

body {
    font-family: TransportLight;
    color: white;
    text-align: center;
    padding: 20px;
    pointer-events: none;

}

header {
    max-width: 50%;
    height: 80px;
    margin: 0 auto;
    background-color: #1f5999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    border-radius: 10px;
}

.hamborger {
    display: none;
}

.HeaderNavBar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: .9rem;
}

.HeaderNavBar ul li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    background: none;
    color: white;
    font-size: 1rem;
    padding: .5rem .5rem;
    text-wrap: nowrap;
    transform: 0.2s;
    margin: auto calc(.1vw + .1vh);
    
    
}

.HeaderNavBar li {
   
    background-color: #276ebd;
    border: #276ebd;
    border-radius: 10px;
    border-style: solid;
    padding: .3rem;
    pointer-events: auto;
    cursor: pointer;

}

.HeaderNavBar li:hover {
    background-color: white;
    border-color: white;
}

.HeaderNavBar li:hover > a {
    background-color: white;
    color: #1d5596;
    border-color: white;
}





.gooselogo img {
    margin-right : auto;
    margin-left : auto;
    min-width : 10%;
    max-width : 70%;
    width:auto;
    pointer-events: auto;
    cursor: pointer;
}

.header2 {
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.description_one {
    font-family: 'TransportHeavy';
    font-size: 2.0rem;
    line-height: 1.25;
    margin-bottom: 30px;
    letter-spacing: 0.1rem;
}

.description_two {
    margin-top: 0.5rem;
    font-family: 'TransportLight';
    font-size: 1.0rem;
    line-height: 1.25;
    margin-bottom: 30px;
    letter-spacing: 0.1rem;
}




canvas {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    pointer-events: auto;
    height: auto;
    width: 100%;
    
}

html {
    background-color: #276ebd;
}

.navCTA {
    color: white;
    pointer-events: all;
    padding: .3rem .5rem .2rem .5rem;
    transition: 0.2s ease;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    font-family: 'TransportHeavy';
    pointer-events: auto;
    cursor: pointer;
}

.navCTA:hover {
    background-color: white;
    color: #1f5999;
}

.gooselogo2 a{
    color: white;
    text-decoration: none;
    font-family: 'TransportHeavy';
    padding: .5rem .8rem .5rem .8rem;
    margin: 0rem 1rem;
    border-radius: .5rem;
    border-color: #1f5999;
    border-style: solid;
    background-color: #276ebd;

}

.gooselogo2 a:hover{
    background-color: white;
    color: #1f5999;
    border-color: white;
}

iframe {
    border-width: .3rem;
    border-color: white;
    border-style: solid;
    pointer-events: all;
    box-sizing: border-box;

}


.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: fill;
}

.iFrameContainer {
    position: relative;
    width: 100%;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 1rem auto;
    overflow: hidden;
    aspect-ratio: 16/9;
    box-sizing: border-box;

}

#home a{
    color: white;
    pointer-events: all;
    text-decoration: none;
    padding: .3rem .5rem .2rem .5rem;
    transition: 0.2s ease;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    font-family: 'TransportHeavy';
}

.heroContainer {
    margin-bottom: 1rem;
}

.SectionBar {
    padding: .5rem;
    margin: 3% 20%;
    border: #1f5999;
    background: #1f5999;
    border-style: solid;
    border-radius: 5px;
    border-width: 10px;
    font-family: TransportHeavy;
    font-size: 2ch;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.47);
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE OVERVIEW TO THE GALLERY SECTION*/

.OverviewCardTop {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3vw;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 100%;
    max-height: 100%;
}

.CardOverviewCardTop p {
    position: inherit;
    text-align: center;
    font-family: TransportLight;
    margin-bottom: 3%;
    max-width: 100%;
    max-height: 100%;
    padding: 0 1rem;
}

.OverviewCardTop article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f5999;
    border-radius: 10px;
    border-width: .1rem;
    width: 100%;
    height: auto;
}


.CardOverviewCardTop img {
    object-fit: cover;
    border: #1f5999;
    border-style: solid;
    border-width: .5rem;
    border-radius: 10px;
    background-color: #1f5999;
    width: 100%;
    box-sizing: border-box;
}

.OverviewCardBottom {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 2rem;
    max-width: 100%;
    max-height: 100%;
}

.CardOverviewCardBottom p {
    position: inherit;
    text-align: center;
    font-family: TransportLight;
    margin-bottom: 1%;
    max-width: 100%;
    max-height: 100%;
    padding: 0 1rem;
}

.OverviewCardBottom article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f5999;
    border-radius: 10px;
    border-width: .1rem;
    width: 60%;
    height: auto;
}


.CardOverviewCardBottom img {
    object-fit: cover;
    border: #1f5999;
    border-style: solid;
    border-width: .5rem;
    border-radius: 10px;
    background-color: #1f5999;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.OverviewCardTitle {
    font-family: TransportLight;
    font-weight: 1000;
    font-size: 1.3rem;
}



/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE GALLERY TO THE PRE-ORDER BONUSES SECTION*/



.slideshow-container {
  width: 60%;
  height: 100%;
  position: relative;
  margin: auto;
  pointer-events: all;
  background-color: #1f5999;
  border-color: #1f5999;
  border-radius: 10px;
  border-width: 1rem;
}


.mySlides {
  display: none;
  width: 100%;
  border-color: #1f5999;
  border-style: solid;
  border-width: .5rem;
  border-radius: 10px;
  box-sizing: border-box;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1.5vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 100;
    opacity: 50%;
  }
  
.prev {
    left: 0;
    transform: translateY(-50%);
}
  
.next {
    right: 0;
    transform: translateY(-50%);
}
  
.slideshow-container button {
    background: none;
    color: inherit;
    border: none;
    outline: inherit;

}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    color: #ffffff;
    opacity: 100%;
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.slidedot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a1a1a1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.dotactive, .slidedot:hover {
    background-color: #ffffff;
}


.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}


/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE GALLERY TO THE PRE-ORDER BONUSES SECTION*/



.BonusSection {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3vw;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 100%;
    max-height: 100%;
}

.PreorderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f5999;
    border-radius: 10px;
    border-width: .1rem;
    width: 100%;
    height: auto;
}


.PreorderCard p {
    position: inherit;
    text-align: center;
    font-family: TransportLight;
    margin: 2% 1% 3% 1%;
    padding: 0 .5rem;
    max-width: 100%;
    max-height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
}

.PreorderCard hr {
    color: white;
    border-top: 1px solid white;
    width: 80%;
    margin-bottom: 1%;
}

.PreorderCard article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f5999;
    border-radius: 10px;
    border-width: .1rem;
    width: 100%;
    height: auto;
}


.PreorderCard img {
    object-fit: cover;
    border: #1f5999;
    border-style: solid;
    border-width: .5rem;
    border-radius: 10px;
    background-color: #1f5999;
    max-width: 100%;
    box-sizing: border-box;
}

.PreorderCard #PreFancy, #PreStandard{
    text-align: left;
    line-height: 2rem;
    padding-left: 2rem;
}

.PreorderCard ul {
    margin-bottom: 5%;
    max-width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    list-style-position: inside;

}




/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE SUBSCRIPTION TO THE FOOTER SECTION*/

.newsletter {
    background-color: #1f5999;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    max-width: 60%;
    margin: 5% auto;
    pointer-events: all;
}
  
.newsletter h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-family: TransportHeavy;
}
  
.newsletter p {
    font-size: 14px;
    margin: 5px 0;
}
  
.newsletter h3 {
    font-family: LearningCurveBold;
    font-size: 2rem;
    margin: 10px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}
  
.newsletter-form input {
    width: 70%;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #1f5999;
}
  
.newsletter-form input::placeholder {
    color: #1f5999;
    opacity: 0.7;
}
  
.newsletter-form button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #1f5999;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.newsletter-form button:hover {
    background-color: #ddd;
}
  
.disclaimer {
    font-size: 12px;
    margin-top: 10px;
}
  
.disclaimer a {
    color: #ffffff;
    text-decoration: underline;
}


/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS THE FOOTER SECTION*/


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f5999;
    border-radius: 0.5rem;
    padding: 2rem 2rem;
    color: white;
    font-size: 1.2vw;
    width: 60%;
    margin: 0 auto;
    pointer-events: all;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.navbar-left span {
    padding-left: 3%;
    white-space: nowrap;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dot {
    color: white;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.home-button {
    display: flex;
    align-items: center;
    background-color: #1f5999;
    color: #ffffff;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    pointer-events: auto;
    font-weight: bold;
    font-size: 1rem;
    
}

.home-button img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
}

.home-button:hover {
    background-color: #e0e0e0;
    pointer-events: auto;
}


/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/*THIS SECTION OF CSS CONTROLS FROM THE MEDIA QUERY STUFF WHEN SCREEN WIDTH IS BELOW 785 PIXELS*/

@media only screen and (max-width: 785px) {

    .hamborger {
        display: block;
        margin-top: 10px;
        align-self: flex-start;
        pointer-events: all;
        cursor: pointer;
        background-color: #276ebd;
        border: #276ebd;
        border-style: solid;
        border-radius: 10px;
        padding: 0.2rem .5rem;
    }

    .hamborger:hover .footlettuce path {
        fill: #1f5999;
    }

    .hamborger:hover {
        background-color: white;
        border-color: white;
    }

    .gooselogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% auto 4% auto;
        width: 100%;
    }

    .gooselogo img {
        margin-right : auto;
        margin-left : auto;
        min-width : 200px;
        max-width : 500px;
        width:auto;
    }

    .HeaderNavBar {
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.2s;
        overflow: hidden;
    }

    .HeaderNavBar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s ease-in-out;
        opacity: 0; /* 0 for uncascaded | 100 for cascaded */
    }

    header {
        height: 72px; /*72px for uncascaded | 395px for cascaded*/
        align-items: flex-start;
        transition: .5s ease-in-out;
    }

    header.active {
        height: 395px;
    }

    header.active ul {
        opacity: 100;
    }

    header li {
        margin: 10px auto;
    }

    header a {
        pointer-events: auto;
    }
    
    .container {
        flex-direction: column; 
        padding: 1rem;
    }


    .description_one, .description_two {
        margin-top: 0;
        font-size: 1rem; 
    }
    
    .header2 a{
        color: white;
        text-decoration: none;
        font-family: 'TransportHeavy';
        align-content: center;
        font-size: smaller;
        text-wrap: nowrap;
        margin: 0 auto;
        max-width: 100%;
        padding: 1rem .3rem;
        border-radius: .3rem;
        border-color: #1f5999;
        border-style: solid;
        background-color: #276ebd;
    
    }

    .iFrameContainer {
        display: flex;
        position: relative;
        max-width: 90%;
        overflow: hidden;
        aspect-ratio: 16/9;
    }

    .navCTA{
        margin-left: 1rem;
    }

    canvas{
        display: none;
        visibility: hidden;
    }

    .SectionBar {
        max-width: 100%;
        margin: 8% 0;
    }


    .navbar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 0.9rem;
        margin: 8% auto 0 auto;
        box-sizing: border-box;
    }

    .navbar-left, .navbar-center, .navbar-right {
        flex-direction: row;
        align-items: center;
        pointer-events: auto;
    }

    .navbar-left span {
        padding-left: 0;
        text-align: center;
    }

    .navbar-left .icon {
        display: none;
        visibility: 0;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .navbar img {
        display: flex;
        flex-direction: column;
    }

    .newsletter {
        max-width: 100%;
        width: 90%;
        margin: auto auto;
    }

    .newsletter label {
        text-wrap: nowrap;
    }

    .slideshow-container{
        margin: auto auto;
        width: 100%;
    }

    .OverviewCardTop {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .OverviewCardTop article {
        margin: 0 auto;
        width: 100%;
    }
    .OverviewCardBottom {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .OverviewCardBottom article {
        margin: 0 auto;
        width: 100%;
    }

    .BonusSection {
        display: flex;
        flex-direction: column;
        margin: 15% auto;
        width: 100%;
    }
    .PreorderCard ul {
        margin-left: 1rem;
    }
}